<div class="row">
	<div class="small-2 columns">
		<ul class="side-nav hide-for-small">
  		  <li><a href="#">Compose</a></li>
		  <li class="active"><a href="#">Inbox</a></li>
		  <li><a href="#">Sent Items</a></li>
		  <li class="divider"></li>
		  <li><a href="#">Archived</a></li>
		  <li><a href="#">Deleted</a></li>
		</ul>
	</div>
	<dl class="sub-nav hide-for-medium-up">
		<dd class="active"><a href="#">Inbox</a></dd>
	    <dd><a href="#">Sent Items</a></dd>
	    <dd><a href="#">Archive</a></dd>
	    <dd><a href="#">Deleted</a></dd>
	 </dl>
		<table class="responsive">
			<tr>
				<th>Subject</th>
				<th>From</th>
				<th>Sent</th>
				<th class="hide-for-small">Archive</th>
				<th class="hide-for-small">Delete</th>
			</tr>
			<tr>
				<td>Enquiry about Casa Finca</td>
				<td>Steve Drew</td>
				<td>Today 16:32</td>
				<td><input type="checkbox" id="checkbox1" class="hide-for-small"></td>
				<td><input type="checkbox" id="checkbox1" class="hide-for-small"></td>
			</tr>
			<tr>
				<td>RE: Enquiry about Bobs Place</td>
				<td>Jack Ross</td>
				<td>Yesterday 09:54</td>
				<td><input type="checkbox" id="checkbox1" class="hide-for-small"></td>
				<td><input type="checkbox" id="checkbox1" class="hide-for-small"></td>
			</tr>
			<tr>
				<td>RE: Enquiry about Bobs Place</td>
				<td>Jack Ross</td>
				<td>Yesterday 09:54</td>
				<td><input type="checkbox" id="checkbox1" class="hide-for-small"></td>
				<td><input type="checkbox" id="checkbox1" class="hide-for-small"></td>
			</tr>
			<tr>
				<td> RE:Enquiry about Bobs Place</td>
				<td>Jack Ross</td>
				<td>Yesterday 09:54</td>
				<td><input type="checkbox" id="checkbox1" class="hide-for-small"></td>
				<td><input type="checkbox" id="checkbox1" class="hide-for-small"></td>
			</tr>
		</table>
	</div>


</div>

