<div class="large-6 columns">
	<div class="border">
	    <div class="row">
			<div class="small-3 columns" align="right center">
				<a href="#"><%= image_tag((current_user.image), size: "55x55" )%></a>
			</div>	
		    <div class="small-9 columns" align="left">
				<h5><a href="#">Paul</a> has just rated his stay at <a href="#">Villa Casa</a></h5>
			</div>	
		</div>
		<div class="row">
			<div class="large-12 columns">
				<a href="#" class="cropped-image"><%= image_tag "cottage.jpg", :alt => "cottage" %></a>
	        	<p>"This place was amazing, the views were exceptional, the views were fantastic and the bedrooms delightful..." <a href="#">Read more</a></p>
			</div>
		</div>
	</div>
</div>
