<div class="large-4 columns">
	<div class="panel">    
		<div class="row">
			<div class="small-3 columns">
				<a href="#"><%= image_tag((current_user.image), size: "45x45" )%></a>
			</div>	
		    <div class="small-9 columns">
				<h5><a href="#">Paul</a> has just booked his stay at <a href="#">Villa Casa</a></h5>
			</div>	
		</div>
		<div class="row">
			<div class="large-12 columns cropped-image">
				<a href="#"><%= image_tag "cottage.jpg", :alt => "cottage" %></a>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<p>"This place was amazing, the views were exceptional..."</p><a href="#">Read more</a></p>
			</div>
		</div>
	</div>
</div>


