  
  <!-- Main Grid Section -->

  <div class="row">
    <div class="large-6 columns">
        <table>
		  <tr>
			<td width="25%">
	            <img src="http://placehold.it/100x100" />	
			</td>	  
			<td>
			<h6><a href="#">Paul</a> has just rated his stay at <a href="#">Villa Casa</a></h6>
            <p>This place was amazing, the views were exceptional and the place itself was great value for money... <a href="#">Read more</a></p>
			</td>
		  </tr>
	    </table>
	  </div>
    <div class="large-2 columns">
      <div class="panel">
        <h5>Get in!</h5>
        <p>Mary just booked <a href="#">Finca Fina</a></p>
      </div>
    </div>
    
    <div class="large-4  columns">
        <table>
		  <tr>
			<td width="25%">
	            <img src="http://placehold.it/100x100" />	
			</td>	  
			<td>
			<h6>A new review has been added for <a href="#">Casa Mia</a></h6>
            <p>This place was the pits... <a href="#">Read more</a></p>
			</td>
		  </tr>
	    </table>
    </div>
  </div>

  <div class="row">

      <div class="large-2 columns">
        <div class="panel">
          <h5>Get in!</h5>
          <p>Mary just booked <a href="#">Finca Fina</a></p>
        </div>
      </div>
    
    <div class="large-4  columns">
        <table>
		  <tr>
			<td width="25%">
	            <img src="http://placehold.it/100x100" />	
			</td>	  
			<td>
			<h6>A new review has been added for <a href="#">Casa Mia</a></h6>
            <p>This place was the pits... <a href="#">Read more</a></p>
			</td>
		  </tr>
	    </table>
    </div>
    <div class="large-6 columns">
        <table>
		  <tr>
			<td width="25%">
	            <img src="http://placehold.it/100x100" />	
			</td>	  
			<td>
			<h6><a href="#">Paul</a> has just rated his stay at <a href="#">Villa Casa</a></h6>
            <p>This place was amazing, the views were exceptional and the place itself was great value for money... <a href="#">Read more</a></p>
			</td>
		  </tr>
	    </table>
	  </div>
  </div>

  <div class="row">
      <div class="large-4  columns">
          <table>
  		  <tr>
  			<td width="25%">
  	            <img src="http://placehold.it/100x100" />	
  			</td>	  
  			<td>
  			<h6>A new review has been added for <a href="#">Casa Mia</a></h6>
              <p>This place was the pits... <a href="#">Read more</a></p>
  			</td>
  		  </tr>
  	    </table>
      </div>
	  
    <div class="large-6 columns">
        <table>
		  <tr>
			<td width="25%">
	            <img src="http://placehold.it/100x100" />	
			</td>	  
			<td>
			<h6><a href="#">Paul</a> has just rated his stay at <a href="#">Villa Casa</a></h6>
            <p>This place was amazing, the views were exceptional and the place itself was great value for money... <a href="#">Read more</a></p>
			</td>
		  </tr>
	    </table>
	  </div>
	  
      <div class="large-2 columns">
        <div class="panel">
          <h5>Nice one!</h5>
          <p>New info available for <a href="#">Finca Fina</a></p>
        </div>
      </div>
  </div>
  