<div class="row">
	<div class="large-12 columns">
		<h1>My bookings</h1>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<table>
		  <tbody>
		    <% @bookings.each do |booking| %>
		      <tr>
		        <td><%= link_to 'Show', booking %></td>
		        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
		        <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>		
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<%= link_to 'New Booking', new_booking_path %>
	</div>
</div>

