<div class="row">
	<div class="large-3 columns">
		<ul class="side-nav">
			<li class="active" id="overview"><a href="#">Overview</a></li>
			<li class="divider"></li>
			<li><a href="#" id="hide">Bedroom 1</a></li>
			<li><a href="#">Bedroom 2</a></li>
			<li><a href="#">Bedroom 3</a></li>
			<li><a href="#">Lounge/Diner</a></li>
			<li><a href="#">Kitchen</a></li>
			<li><a href="#">Outside</a></li>
		</ul>
	</div>
	<div class="large-9 columns" id="overview">
		<h4>Our special little cottage</h4>
		<p>Sed facilisis dolor non libero ornare eleifend. Aenean rhoncus orci eros, ac faucibus erat fringilla vitae. Praesent vestibulum fermentum nisi, sit amet lobortis sapien sodales eget. Nulla facilisi. Donec fermentum lectus eu ligula pharetra, placerat feugiat metus iaculis. Proin scelerisque rutrum congue. Nulla sagittis suscipit risus sit amet ultrices.</p>

<p>Quisque malesuada mauris sed volutpat laoreet. Nam consectetur velit mauris. Suspendisse enim leo, bibendum ut nunc ac, aliquet pharetra arcu. Aenean sit amet semper nulla, ut convallis turpis. Quisque tincidunt felis sagittis mattis convallis. Aenean enim tellus, consectetur ac massa non, tempor iaculis libero. Cras varius felis et consectetur hendrerit.</p>
	</div>
</div>
<script>

</script>