<div id="enquire" class="reveal-modal">
	<div class="row">
		<div class="large-12 columns">
			<h2>Enquire</h2>
	  		<p class="lead">Casa Villa</p>
		</div>
  	</div>
	<div class="row">
		<div class="large-12 columns">
			<form>
				<textarea placeholder="Enquiry details"></textarea>
				<input type="submit" class="button"></input>
			</form>
		</div>
	 </div>
  <a class="close-reveal-modal">&#215;</a>
</div>
