<div class="row">
	<div class="large-8 columns">
		<div class="row">
			<div class="small-12 columns">
				<h2><i class="icon-group"></i> Be inspired</h2>
				<h5 class="subheader">Find out where your Facebook friends have booked and rated. 
			    <a href="#">More info</a></h5>
				<p><a href"#" id="mylink">Click here</a> to zoom in...</p>
				<hr/>
			</div>	
		</div>	
		<div class="row">
			<div class="small-12 columns">
				<h2><i class="icon-smile"></i> Get Kudos</h2>
				<h5 class="subheader">Get recognition from owners that you're a jolly good chap.
			    <a href="#">More info</a></h5>
				<hr/>
			</div>	
		</div>

		<div class="row">
			<div class="small-12 columns">
				<h2><i class="icon-calendar"></i> Be in the know</h2>
				<h5 class="subheader">Take the hassle out of the booking process with our online payments and reminders.
			    <a href="#">More info</a></h5>
				<hr/>
			</div>
		</div>
		
		<div class="row">
			<div class="small-6 columns">
				<h4><i class="icon-check-sign"></i> Find the perfect place.
					<h5 class="subheader">blah</h5>
			</div>
			<div class="row">
				<div class="small-6 columns">
					<h4><i class="icon-zoom-in"></i> Benefits for owners</h4>
					<h5 class="subheader">The refreshingly different place to rent your property,
					<a href="#">Find out more</a></h5>	
				</div>
			</div>
		</div>
	</div>	
	<div class="large-4 columns">
		<div class="row">
			<div class="large-12 columns">
				<div class="panel">
					<a href="#" class="button">Sign up now!</a>
				</div>
			</div>
			<div class="large-4 columns" style="height:420px; width:330px;">
				<div id="map-canvas"/>
			</div>
		</div>
	</div>
</div>