<div class="row">
	<div class="large-8 columns">
		<div class="row">
			<div class="small-12 columns">
				<h2><i class="icon-group"></i> Get inspired</h2>
				<h5 class="subheader">Find out where your Facebook friends have booked and rated. <a href="#">Find out more</a></h5>
			</div>	
		</div>	
		<div class="row">
			<div class="small-12 columns">
				<h2><i class="icon-smile"></i> Build kudos</h2>
				<h5 class="subheader">Get recognition for the places you stay and build trust with owners</h5>
			</div>	
		</div>

		<div class="row">
			<div class="small-12 columns">
				<h2><i class="icon-calendar"></i> Book, Pay, Track</h2>
				<h5 class="subheader"></h5>
			</div>
		</div>
		
		<div class="row">
			<div class="small-6 columns">
				<h4><i class="icon-check-sign"></i> Find the perfect place</h4>
					<h5 class="subheader">blah</h5>
			</div>
			<div class="row">
				<div class="small-6 columns">
					<h4>Rent your place to like minded people</h4>
						<h5 class="subheader">blah</h5>
				</div>
			</div>
		</div>
	</div>	
	<div class="large-4 columns">
		<div class="panel">
			Have a
			Sign up now!
		</div>
	</div>