<%#=%><div class="row">
	<div class="large-12 columns">
		<div class="row">
			<div class="small-4 columns">
				<h2><i class="icon-group"></i> Be inspired</h2>
			</div>
			<div class="small-8 columns">
				<h4 class="subheader">Find out where your Facebook friends have booked and rated</h4>
				<p>Get inspiration from the people you know and trust and keep tabs on the places you love using our unique activity feed.</p>
			</div>		
		</div>	
		<div class="row">
			<div class="small-12 columns">
				<hr/>
			</div>	
		</div>
		<div class="row">
			<div class="small-4 columns">
				<h2><i class="icon-calendar"></i> Get Booking</h2>
			</div>
			<div class="small-8 columns">
				<h4 class="subheader">The era of the overdue payment is over.</h4>
				<p>Keep track of your booking online, and we'll send you reminders when your next payment is due. No more hassle, we've got it covered. </p>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<hr/>
			</div>	
		</div>		
		<div class="row">
			<div class="small-4 columns">
				<h2><i class="icon-smile"></i> Get Kudos</h2>
			</div>
			<div class="small-8 columns">
				<h4 class="subheader">Get recognition for the places you've stayed</h4>
				<p>Getting feedback from owners shows others how great you really are. You can of course leave feedback for the places you've stayed too. That goes without saying.</p>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<hr/>
			</div>	
		</div>
		<div class="row">
			<div class="small-3 columns">
				<img src="http://a.tiles.mapbox.com/v3/steverdrew.map-c94mnvbb/4.8779296875,61.227957176677876,4/250x165.png"></img>
			</div>
			<div class="small-3 columns">
				<h4><i class="icon-zoom-in"></i> Find the perfect place.</h4>
				<h5 class="subheader">Searching for properties couldn't be easier or more fun. </h5>
			</div>
			<div class="small-3 columns center">
				<%= image_tag "be-a-local.jpg", size: "250x165" %>
			</div>
			<div class="small-3 columns">
				<h4><i class="icon-zoom-in"></i> Be a local</h4>
				<h5 class="subheader">We've hooked into Foursquare to give you insight into the great local spots.</h5>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<hr/>
			</div>	
		</div>
		<div class="row">
			<div class="large-8 columns">
				<div class="row">
					<div class="small-12 columns">
						<h4><i class="icon-zoom-in"></i> Calling all Owners</h4>
						<h5 class="subheader">We've got a range of options and benefits depending on your needs and 						circumstances.</h5>
					</div>
				</div>
				<div class="row">
					<div class="large-4 columns">
						<ul class="pricing-table">
						  <li class="title">Friends & Family</li>
						  <li class="price">Free</li>
						  <li class="description">Best for:</li>
						  <li class="bullet-item">...</li>
						  <li class="bullet-item">...</li>
						  <li class="bullet-item">...</li>
						  <li class="cta-button"><a class="button" href="#">Sign Up Now</a></li>
						</ul>
					</div>
					<div class="large-4 columns">
						<ul class="pricing-table">
						  <li class="title">Standard</li>
						  <li class="price">Monthly Fee</li>
						  <li class="description">Best for:</li>
						  <li class="bullet-item">...</li>
						  <li class="bullet-item">...</li>
						  <li class="bullet-item">...</li>
						  <li class="cta-button"><a class="button" href="#">Sign Up Now</a></li>
						</ul>
					</div>
					<div class="large-4 columns">
						<ul class="pricing-table">
						  <li class="title">Flexi</li>
						  <li class="price">Booking Charge</li>
						  <li class="description">Best for:</li>
						  <li class="bullet-item">...</li>
						  <li class="bullet-item">...</li>
						  <li class="bullet-item">...</li>
						  <li class="cta-button"><a class="button" href="#">Sign Up Now</a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
					</div>
				</div>
			</div>
			<div class="large-4 columns">
				<div class="panel">
					<h5 align="center"> Introducing Owner Tools</h5>
					<h6 class="subheader" align="center">We've got a range of options and benefits depending on your needs and circumstances.</h6>
					<ul class="pricing-table">
						<li class="bullet-item">Fully managed booking system</li>
						<li class="bullet-item">Paypal integration</li>
						<li class="bullet-item">Custom URL</li>
						<li class="bullet-item">Google Analytics</li>
						<li class="bullet-item">Free Friends and Family Account</li>
						<li class="bullet-item">Flexible Payment Options</li>
						<li class="title"><a href="#">View all benefits</a></li>    
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
