<div class="row">
	<div class="small-8 columns">

		<div class="row">
			<div class="small-12 columns">
				<h2>Get Inspired</h2>
			</div>	
		</div>

		<div class="row">
			<div class="small-12 columns">
				<h5 class="subheader">Find out where your Facebook friends have booked and rated. <a href="#">Find out more</a></h5>
			</div>	
		</div>
		<div class="row">
			<div class="small-12 columns">
				<h2>Get Kudos</h2>
			</div>	
		</div>

		<div class="row">
			<div class="small-12 columns">
				<h5 class="subheader">blah</h5>
			</div>
		</div>
	</div>	
	<div class="small-4 columns">
		<div class="panel">
			Sign up now!
		</div>
	</div>