<form class="custom">
	<div class="row">
		<div class="large-12 columns">
			<label><h4>Start typing a location</h4></label>
			<input type="text"/>
		</div>
	</div>
	<div class="row collapse">
		<div class="large-6 columns">
  	  		<select>
    	 		<option>Holiday Type</option>
			 	<option>Ski</option>
			 	<option>Escape</option>
			</select>
		</div>
	
		<div class="large-6 columns">
  	  		<select>
    	  		<option>Property Type</option>
    	  		<option>Villa/Cottage</option>
    	  		<option>Apartment</option>
			</select>
		</div>
	</div>
	<div class="row collapse">
		<div class="small-3 columns">
			<span class="prefix radius">Start Date</span>
		</div>
		<div class="small-3 columns">
			<input type="text" id="startdate" placeholder="Value">
		</div>
		<div class="small-3 columns">
			<span class="prefix radius">End Date</span>
		</div>
		<div class="small-3 columns">
			<input type="text" id="enddate" placeholder="Value">
		</div>
	</div>
	<div class="row collapse">
		<div class="small-3 columns">
			<span class="prefix radius">Min Rooms</span>
		</div>
		<div class="small-3 columns">
			<input type="text" placeholder="Value">
		</div>
		<div class="small-3 columns">
			<span class="prefix radius">Max Rooms</span>
		</div>
		<div class="small-3 columns">
			<input type="text" placeholder="Value">
		</div>
	</div>
	<div class="row collapse">
		<div class="small-3 columns">
			<span class="prefix radius">Min Rating</span>
		</div>
		<div class="small-3 columns">
			<input type="text" placeholder="Value">
		</div>
		<div class="small-3 columns">
			<span class="prefix radius">Max Rating</span>
		</div>
		<div class="small-3 columns">
			<input type="text" placeholder="Value">
		</div>
	</div>
	<div class="row">
		<div class="small-6 columns">
			<label for="checkbox1">
			<input type="checkbox" id="checkbox1" style="display: none;"><span class="custom checkbox"></span> Label for Checkbox</label>
	    	<label for="checkbox2"><input type="checkbox" id="checkbox2" CHECKED style="display: none;"><span class="custom checkbox checked"></span> Label for Checkbox</label>
	    	<label for="checkbox3"><input type="checkbox" CHECKED id="checkbox3" style="display: none;"><span class="custom checkbox checked"></span> Label for Checkbox</label>
	 	</div>
		<div class="small-6 columns right">
			<label for="checkbox1">
			<input type="checkbox" id="checkbox1" style="display: none;"><span class="custom checkbox"></span> Label for Checkbox</label>
			<label for="checkbox2"><input type="checkbox" id="checkbox2" CHECKED style="display: none;"><span class="custom checkbox checked"></span> Label for Checkbox</label>
			<label for="checkbox3"><input type="checkbox" CHECKED id="checkbox3" style="display: none;"><span class="custom checkbox checked"></span> Label for Checkbox</label>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<hr>
			<a href="#" class="button small right">Display Results</a>
		</div>
	</div>
</form>