<div id="preloader">
	<div id="status">&nbsp;</div>
</div>
<form class="search_form">
	<div class="row collapse">
		<div class="large-12 columns">
			<label><h2>Start typing a location</h2></label>
			<input type="text"/>
		</div>
	</div>
	<div class="row">
		<div class="large-6 columns">
  	  		<select placeholder="Choose a Holiday Type..." class="chosen-select" multiple>
    	 		<option>Ski</option>
			 	<option>Escape</option>
			</select>
		</div>
	
		<div class="large-6 columns">
  	  		<select data-placeholder="Choose a Property Type..." class="chosen-select">
    	 		<option>Villa/Cottage</option>
    	  		<option>Apartment</option>
			</select>
		</div>
	</div>
	<div class="row collapse">
		<div class="small-3 columns">
			<span class="prefix radius">Start Date</span>
		</div>
		<div class="small-3 columns">
			<input type="text" id="startdate" placeholder="Value">
		</div>
		<div class="small-3 columns">
			<span class="prefix radius">End Date</span>
		</div>
		<div class="small-3 columns">
			<input type="text" id="enddate" placeholder="Value">
		</div>
	</div>
	<div class="row collapse">
		<div class="small-3 columns">
			<span class="prefix radius">Min Rating</span>
		</div>
		<div class="small-3 columns">
			<input type="text" placeholder="Value">
		</div>
		<div class="small-3 columns">
			<span class="prefix radius">Max Rating</span>
		</div>
		<div class="small-3 columns">
			<input type="text" placeholder="Value">
		</div>
	</div>
	
	<div class="row">
		<div class="large-12 columns">
			<hr>
			<a href="#" class="button small right">Display Results</a>
		</div>
	</div>
</form>

