<div class="row">
	<div class="large-12 small-8 small-centered columns">
		<h5 class="subheader">Crag View</h5>
		<div class="row">
			<div class="small-6 columns">
				<i class="icon-star"></i>
				<i class="icon-star"></i>
				<i class="icon-star"></i>
				<i class="icon-star"></i>
				<i class="icon-star-half"></i>
				<h6 class="subheader"><a href="#">6 reviews</a></h6>
			</div>
			<div class="small-4 columns">
				<a href="#"><i class="icon-compass"></i></a>
				<a href="#"><i class="icon-camera-retro"></i></a>
				<a href="#"><i class="icon-smile"></i></a>		
			</div>
		</div>	
	</div>
</div>
<div class="row">
	<div class="large-12 small-8 small-centered columns">
		<div class="slideshow-wrapper">
			<ul id="featured1" data-orbit data-options="timer:false;">
				<li>
					<%= image_tag(asset_path('pic1.jpg')) %>
					<div class="orbit-caption">...</div>
				</li>
				<li>
					<%= image_tag(asset_path('pic1.jpg'),:size => "300x300") %>
					<div class="orbit-caption">...</div>
				</li>
				<li>
					<%= image_tag(asset_path('pic1.jpg'),:size => "300x300") %>
					<div class="orbit-caption">...</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="large-12 small-8 small-centered columns">
		<p>A stunning 4 bed property in the heart of the dales countryside</p>
		<br/>
		<a href"#" class="button small right">Read more</a>
	</div>
</div>

