

<div class="row">
	<div class="large-12 columns">
		<div class="row">
			<div class="large-12 columns">
				<dl class="sub-nav">
					<dt>Sort by:</dt>
					<dd class="active"><a href="#">Price</a></dd>
				    <dd><a href="#">Rating</a></dd>
				 </dl>
			</div>
		</div>
		<div class="row">
				<div class="large-3 columns">
  		  			<div class="panel">
						<div class="row">
							<div class="large-12 columns">
  		  						<h5 class="subheader">Villa Bravo</h5>
								<div class="row">
									<div class="large-6 columns">
  		  								<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star-half"></i>
									</div>
									<div class="large-6 columns">
  		  								<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star"></i>
									</div>
								</div>	
							</div>
						</div>
						<div class="row">
						<div class="slideshow-wrapper">
							<div class="large-12 columns">
  		  					<ul id="featured1" data-orbit data-options="timer:false;">
				  				<li>
				    				<%= image_tag(asset_path('pic1.jpg'),:size => "200x200") %>
				    				<div class="orbit-caption">...</div>
				  				</li>
				  	   			<li>
				    				<%= image_tag(asset_path('pic1.jpg'),:size => "200x200") %>
				    				<div class="orbit-caption">...</div>
				  				</li>
				  				<li>
				    				<%= image_tag(asset_path('pic1.jpg'),:size => "200x200") %>
				    				<div class="orbit-caption">...</div>
				  				</li>
							</ul>
						</div>
					</div>
	  				</div>
				</div>
			</div>
		</div>
	</div>
</div>
