<div class="row">
	<div class="large-6 columns">
		<%= render partial: "form_options" %>
	</div>
	<div class="large-6 columns hide-for-small" style="height:420px; width:380px;">
		<div id="map-canvas"/>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<h5 class="subheader right">Approx. <a href="#">5,000</a> properties found</h5>
	</div>
</div>
