<div class="row" id="search_section">
	<div class="large-12 columns" >
  		<div class="row">
			<div class="large-6 columns">
				<div class="row">
					<div class="large-12 columns">
						<%= render partial: "form" %>
					</div>
				</div>
				<div class="row">
					<div class="large-8 columns">
						<h5 class="subheader">Approx. <a href="#">5,000</a> properties found</h5>
					</div>
					<div class="large-4 columns">
						<a id="results" class="button small right">Display Results</a>
					</div>
				</div>
			</div>
			<div class="large-6 columns" style="width:400px; height:400px">
  				<%= render partial: "map" %>
			</div>
		</div>
	</div>
</div>
<div class="row" id="results_section" style="display:none;">
	<div class="large-12 columns">
		<a id="search" class="button small">Back to Search</a>
		<%= render template: "properties/index" %>
	</div>
</div>