<div class="row">
	<div class="large-12 columns">
  		<div class="row">
			<div class="large-12 columns">
  				<%= render partial: "search" %>
			</div>
		</div>
  		<div class="row">
			<div class="large-12 columns">
				<%= render partial: "result" %>
			</div>
		</div>
  	</div>
	