<div clas="row">
<form>
  <fieldset>
    <legend>Property Search</legend>
    <div class="row">
      <div class="large-3 columns"
        <label>Start Date</label>
        <input type="text" id="startdate" />
	  </div>
      <div class="large-3 columns"
        <label>End Date</label>
        <input type="text" id="enddate" />
	  </div>
    <div class="large-2 columns"
      <label>Min</label>
      <input type="text" id="enddate" />
    </div>
    <div class="large-2 columns"
      <label>Max</label>
      <input type="text" id="enddate" />
    </div>
  </div>


<aside class="large-2 columns hide-for-small">
      <p><img src="http://placehold.it/300x440&text=[ad]" /></p>
      <p><img src="http://placehold.it/300x440&text=[ad]" /></p>
    </aside>
</div>