<div class="row">
	<div class="large-8 columns panel"
		<form>
			<div class="row">
      			<div class="large-12 columns">
					<label><h4>Start typing a location or select a region</h4></label>
        			<input type="text"/>
	  			</div>
			</div>
  			<div class="row">
				<div class="row collapse">
			        <div class="small-1 columns">
			        	<span class="prefix radius">Start</span>
			        </div>
				    <div class="small-2 columns">
				    	<input type="text" id="startdate" placeholder="Value">
				    </div>
 			        <div class="small-1 columns">
 			        	<span class="prefix radius">Start</span>
 			        </div>
 				    <div class="small-2 columns">
						<input type="text" id="startdate" placeholder="Value">
 				    </div>
 			        <div class="small-1 columns">
 			        	<span class="prefix radius">Start</span>
 			        </div>
 				    <div class="small-2 columns">
						<input type="text" id="startdate" placeholder="Value">
 				    </div>
 			        <div class="small-1 columns">
 			        	<span class="prefix radius">Start</span>
 			        </div>
 				    <div class="small-2 columns">
						<input type="text" id="startdate" placeholder="Value">
 				    </div>
				 </div>     
			</div>
		</form>
	</div>
</div>
