/* Preloader */
#preloader {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#fff; /* change if the mask should have another color then white */
	z-index:99; /* makes sure it stays on top */
}

#status {
	width:200px;
	height:200px;
	position:absolute;
	left:50%; /* centers the loading animation horizontally one the screen */
	top:50%; /* centers the loading animation vertically one the screen */
	background-image:url(preloader.gif); /* path to your loading animation */
	background-repeat:no-repeat;
	background-position:center;
	margin:-100px 0 0 -100px; /* is width and height divided by two */
}

.cropped-image { width: 500px; height: 200px; overflow: hidden; }
.cropped-image img { width: 500px; }


/* select2 */
.select2-container .select2-choice {
    background-image: none;
    border-radius: 2px 2px 2px 2px;
    /* foundation form.custom div.custom.dropdown a.current */
    display: block;
    width: auto;
    line-height: 26px;
    min-height: 28px;
    padding: 0;
    padding-left: 6px;
    padding-right: 38px;
    border: solid 1px #dddddd;
    color: #141414;
    background-color: white;
    white-space: nowrap;
}

.select2-container .select2-choice div {
    background: white;
    border-left: 1px solid #DDDDDD;
    /** foundation form.custom div.custom.dropdown a.selector */
    /*border: 1px solid #DDDDDD;*/
    display: block;
    height: 28px;
    position: absolute;
    right: 0;
    top: 0;
    width: 27px;
}

.select2-container .select2-choice div b {
    /* foundation form.custom div.custom.dropdown a.selector:after */
    /*content: "";
    display: block;
    content: "";
    display: block;*/
    width: 0;
    height: 0;
    border: solid 5px;
    border-color: #aaaaaa transparent transparent transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -2px;
    margin-left: -5px;
}

.select2-results .select2-highlighted {
    /* foundation form.custom div.custom.dropdown ul li.selected */
    background: none repeat scroll 0 0 #CDEBF5;
    color: black;
}

.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-result-selectable .select2-match {
    text-decoration: none;
    font-weight: bold;
}

.select2-search input[type="text"]:focus {
    background: url("select2.png") no-repeat scroll 100% -22px transparent;
}

.select2-drop {
    border-color: #cccccc;
}

.select2-search input  {
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}

.badge {
  display: block;
  position: absolute;
  top: -12px;
  right: 3px;
  line-height: 16px;
  height: 16px;
  padding: 0 5px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.25);
  border: 1px solid;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.08);
}
.badge {
  background: #67c1ef;
  border-color: #30aae9;
  background-image: -webkit-linear-gradient(top, #acddf6, #67c1ef);
  background-image: -moz-linear-gradient(top, #acddf6, #67c1ef);
  background-image: -o-linear-gradient(top, #acddf6, #67c1ef);
  background-image: linear-gradient(to bottom, #acddf6, #67c1ef);
}
.badge.green {
  background: #77cc51;
  border-color: #59ad33;
  background-image: -webkit-linear-gradient(top, #a5dd8c, #77cc51);
  background-image: -moz-linear-gradient(top, #a5dd8c, #77cc51);
  background-image: -o-linear-gradient(top, #a5dd8c, #77cc51);
  background-image: linear-gradient(to bottom, #a5dd8c, #77cc51);
}
.badge.yellow {
  background: #faba3e;
  border-color: #f4a306;
  background-image: -webkit-linear-gradient(top, #fcd589, #faba3e);
  background-image: -moz-linear-gradient(top, #fcd589, #faba3e);
  background-image: -o-linear-gradient(top, #fcd589, #faba3e);
  background-image: linear-gradient(to bottom, #fcd589, #faba3e);
}
.badge.red {
  background: #fa623f;
  border-color: #fa5a35;
  background-image: -webkit-linear-gradient(top, #fc9f8a, #fa623f);
  background-image: -moz-linear-gradient(top, #fc9f8a, #fa623f);
  background-image: -o-linear-gradient(top, #fc9f8a, #fa623f);
  background-image: linear-gradient(to bottom, #fc9f8a, #fa623f);
}
